---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Ajan Raj",
	title: "About Ajan Raj",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>Hi, Again....</p>
		<p>Here are some awesome things about me:</p>
		<ul class="list-inside list-disc space-y-3 text-justify">
			<li>I'm now working as a Junior Data Scientist Intern at Stripe partners in London.</li>

			<li>
				I have a Masters in Data Science from King's College London. I've done my Bachelors in
				Information Technology from Sri Krishna college of technology, Coimbatore.
			</li>
			<li>
				I'm all about capturing moments in time—it's like I have this superpower to freeze it with a
				click. Every photo is a mini time capsule, a pause button on life's fast-forward. It's my
				way of saying, "Hey time, gotcha!" Whether it's the secret smirk of a sunset or the candid
				chaos of city streets, my camera and I are on a mission to collect every tick and tock in
				our timeless treasure chest.
			</li>
			<li>
				My Windows laptop(Asus ROG) and I were the unbeatable duo in the gaming world. Then, I made
				the switch to a Mac, and poof! Gaming vanished faster than my hopes of ever winning a game
				again.
			</li>
			<li>
				One mission of mine is to turn my passport into a travel diary, one stamp at a time!
				Exploring new places is my kind of adventure—think of it as collecting locations instead of
				other stupid stuff. My ultimate goal? To have a map so dotted with pins, it'd make other's
				jealous. Each destination is a new level in the game of globe-trotting, and I'm here to win
				it, one breathtaking view and cultural experience at a time. Sunsets over Netflix, any day!
			</li>
			<li>
				When I say I'm sleepy, it's a toss-up: either you're serving yawns on a platter, or I'm
				genuinely fighting the urge to hit the snooze button. So, if you catch me saying it, take a
				wild guess—is it your story, or is it just bedtime calling my name?
			</li>
			<li>I observe more than I talk, So most probably I know you more than you.</li>
			<li>
				I'm not an introvert, I'm just picky in choosing people to talk to. Mostly everyone ends up
				boring.
			</li>
		</ul>
		<p>
			Checkout some of my <a
				aria-label="Vsco Page"
				class="cactus-link inline-block"
				href="https://instagram.com/storiesbyajanraj/"
				rel="noopener noreferrer"
				target="_blank">PHOTOS</a
			> if you like me!
		</p>
	</div>
</PageLayout>
