---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/ajanraj/",
		name: "simple-icons:github",
	},
	{
		friendlyName: "Twitter",
		link: "https://www.twitter.com/ajanraj25/",
		name: "simple-icons:x",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/ajanraj/",
		name: "simple-icons:linkedin",
	},
	{
		friendlyName: "email",
		isWebmention: true,
		link: "mailto:contact@ajanraj.com",
		name: "simple-icons:gmail",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="sm:hover:text-link inline-block p-1"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6 pt-1" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
